body {
  margin-left: 5%;
  margin-right: 5%;
  font-family: Verdana, Helvetica, Arial;
}

p.vtitle {
  margin-top: 2.5em;
  text-align: center;
  font-weight: bold;
  font-size: 1.4em;
  line-height: 1.75em;
}

p.cover_title {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

p.title {
  margin-top: 2em;
  margin-bottom: 1.75em;
  line-height: 1.5em;
  text-align: center;
  font-weight: bold; 
}

.smallcaps {
  font-variant: small-caps;
}
